<app-toolbar></app-toolbar>

<div class="container" style="margin-top: 30px">
    <div class="row">

        <div class="col s12 m4 l3">
            <app-side></app-side>
        </div>

        <div class="col s12 m8 l9">

            <div class="row">

                <div class="col s12">
                    <div class="file-field input-field">
                        <div class="btn">
                          <span>File</span>
                          <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" id="filePath" type="text">
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div  class="file-field input-field">
                        <a class="waves-effect waves-light btn">
                            <i class="material-icons left" (click)="Upload()">image</i>Upload Image
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col s12 m6 l4" *ngFor="let image of images">
                    <div class="item-img-wrap imgDiv">
                        <img src="http://placehold.it/50*50" class="imgCircle">
                        <button class="btn imgBtn" (click)="setProfileImage(image)">Set as profile</button>
                    </div>
                </div>
            </div>

        </div>
       
    </div>
</div>
